$background: #fddce6;
$pig: #ef63a8;
$snout: #ff87b8;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background;
}

// * {
//   box-sizing: border-box;
//   position: absolute;
//   will-change: transform;
// }
[class="🐷"] {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  border: 1px solid red;
  // z-index: 0;
  * {
    background-color: $pig;
    border: 8px solid black;
    box-sizing: border-box;
    position: absolute;
  }
  *:before,
  *:after {
    box-sizing: border-box;
    position: relative;
  }
}

.torso {
  width: 175px;
  height: 150px;
  border-radius: 45%;
}
.head {
  width: 200px;
  height: 150px;
  left: -22px;
  top: -75px;
  border-radius: 45%;
  &:before {
    content: ""; // position relative;
  }
}

.ear {
  width: 50px;
  height: 50px;
  top: -30px;
  z-index: -6;
}
.l-ear {
  right: 5px;
  border-top-right-radius: 80%;
  transform: rotate(10deg);
}
.r-ear {
  left: 5px;
  border-top-left-radius: 80%;
  transform: rotate(-10deg);
}
.eye {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  top: 25px;
}
@keyframes head-spin {
  from,
  to {
    transform: none;
  }
  50% {
    left: 10px;
    top: 20px;
  }
}
.eye,
.snout,
.snout-center,
.nostril,
.cheek {
  animation: head-spin 5s infinite;
}
.l-eye {
  left: 50px;
}
.r-eye {
  right: 50px;
}
.snout {
  left: calc(50% - 25px);
  top: 50%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: $snout;
  &:before {
    content: ""; // position relative
  }
}
.snout-center {
  width: 100%;
  height: 1px;
  top: calc(50% - 3px);
  border: 3px solid black;
}
.nostril {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  border: 5px solid black;
  top: calc(25% - 5px);
}
.l-nostril {
  left: 4px;
}
.r-nostril {
  right: 4px;
}
.cheek {
  width: 25px;
  height: 50px;
  bottom: -10px;
}
.l-cheek {
  left: -30px;
  border-top-right-radius: 58px;
  border-bottom-right-radius: 58px;
  border-left: 0;
}
.r-cheek {
  right: -30px;
  border-top-left-radius: 58px;
  border-bottom-left-radius: 58px;
  border-right: 0;
}

.leg {
  width: 75px;
  height: 100px;
  bottom: 40px;
  z-index: -5;
}
.fr-leg {
  left: 65px;
}
.fl-leg {
  right: 65px;
}
.bl-leg {
  right: 71px;
  z-index: -6;
  bottom: 50px;
}
.br-leg {
  left: 71px;
  z-index: -6;
  bottom: 50px;
}
