@charset "UTF-8";
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fddce6;
}

[class="🐷"] {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

[class="🐷"] * {
  background-color: #ef63a8;
  border: 8px solid black;
  box-sizing: border-box;
  position: absolute;
}

[class="🐷"] *:before,
[class="🐷"] *:after {
  box-sizing: border-box;
  position: relative;
}

.torso {
  width: 175px;
  height: 150px;
  border-radius: 45%;
}

.head {
  width: 200px;
  height: 150px;
  left: -22px;
  top: -75px;
  border-radius: 45%;
}

.head:before {
  content: "";
}

.ear {
  width: 50px;
  height: 70px;
  top: -30px;
  z-index: -6;
}

.r-ear {
  right: 5px;
  border-top-right-radius: 80%;
  transform: rotate(10deg);
}

.l-ear {
  left: 5px;
  border-top-left-radius: 80%;
  transform: rotate(-10deg);
}

.eye {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  top: 25px;
}

@keyframes head-spin {
  from,
  to {
    transform: none;
  }
  25% {
    transform: translateX(-10px) translateY(-10px);
  }
  50% {
    transform: translateX(10px) translateY(-10px);
  }
}

@keyframes ear-spin-left {
  25% {
    transform: rotate(-30deg);
  }
}

@keyframes ear-spin-right {
  25% {
    transform: rotate(30deg);
  }
}

.l-ear {
  animation: ear-spin-left 5s ease infinite;
}

.r-ear {
  animation: ear-spin-right 5s ease infinite;
  animation-delay: 1.25s;
}

.eye,
.snout {
  animation: head-spin 5s infinite;
}

.l-eye {
  left: 50px;
}

.r-eye {
  left: 120px;
}

.snout {
  left: calc(50% - 25px);
  top: 50%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #ff87b8;
}

.snout:before {
  content: "";
}

.snout-center {
  width: 100%;
  top: calc(50% - 3px);
  border: 3px solid black;
}

.nostril {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  border: 5px solid black;
  top: calc(25% - 5px);
}

.l-nostril {
  left: 4px;
}

.r-nostril {
  right: 4px;
}

.cheek {
  width: 25px;
  height: 50px;
  bottom: -10px;
}

.l-cheek {
  left: -30px;
  border-top-right-radius: 58px;
  border-bottom-right-radius: 58px;
  border-left: 0;
}

.r-cheek {
  right: -30px;
  border-top-left-radius: 58px;
  border-bottom-left-radius: 58px;
  border-right: 0;
}

.leg {
  width: 75px;
  height: 100px;
  bottom: 40px;
  z-index: -5;
}

.fr-leg {
  left: 65px;
}

.fl-leg {
  right: 65px;
}

.bl-leg {
  right: 71px;
  z-index: -6;
  bottom: 50px;
}

.br-leg {
  left: 71px;
  z-index: -6;
  bottom: 50px;
}
