body {
  background-color: grey;
  display: flex;
  justify-content: center;
}
.wrapper {
  position: relative;
  width: 1000px;
  height: 110px;
  min-height: 110px;
  margin-top: 50vh;
}
.wrapper > * {
  width: 1000px;
  position: absolute;
}
canvas {
  position: absolute;
}
img {
  width: 100%;
  height: 110px;
}
